body {
	font-family: "Open sans", sans-serif;
	max-width: 1500px;
	margin: 0 auto; }
[class*="col-"] {
  Float: left;
  min-height: 1px;
  text-align: center;
  margin: 0;
  position: relative; }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }
p {
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

.hero {
	background-image: url(../images/heroImage.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	margin: 0;
	
}
.hero .navbar {
	margin: 0;
	background-color: rgba(0, 0, 0, 0.8);
	min-height: 10%;
 }
.hero .navbar ul {
	margin-right: 169px;
	margin-top: 5px;
}
.hero .navbar li a {
	color: #ffffff;
	font-size: 16px;
}

.logo {
	margin-left:168px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 50%px;
	height: auto;
}
.hero .slogan {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.hero .slogan h2 {
	font-size: 100px;
	line-height: 120px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	
}
    
header .navbar button {
	padding-top: 10px; 
}
header .navbar button span {
	background-color: #fff; 
}
.navbar-toggle .icon-bar {
	width: 22px;
	height: 2px; 
	transition: all 0.2s;
}

.dropdown-menu {
  background-color: transparent;
}
.dropdown-menu ul li {
	float: right !important;
}
  .dropdown-menu li a {
    color: #ffffff; 
	font-size: 15px;
}

.dropdown-menu li a:focus {
  background-color: transparent;
  background-image: none; }

.dropdown-menu li a:hover {
  background-color: transparent;
  background-image: none; }

header .navbar a:hover {
  background-color: transparent; }


.navbar-toggle {
	border: none;
	background: transparent !important;
}
.navbar-toggle:hover {
	background: transparent !important;
}

.navbar-toggle .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
	opacity: 0;
}
.navbar-toggle .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
	transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
	opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
	transform: rotate(0);
}
#aboutUs {
	text-align: center;
	max-width: 35%;
	margin: 5% auto;
	margin-bottom: 8%;
}
#aboutUs h2 {
	font-size: 28px;
	line-height: 32px;
	font-weight: bold;
}
#aboutUs p {
	font-weight: 300;
	
}
	
#icons {
	min-height: 40vh;
	background-color: #CCCCCC;	
	width: 100%;
}
#icons .iconWidth {
	width: 60%;
	margin: 0 auto;
	padding: 3% 0;

}
#icons .iconWidth .icon {
	height: 111px;
	width: auto;
	padding: 20px 20px 0px 20px

} 
#contactUs .row .address {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#contactUs .row .address p {
	text-align: left;
	margin-top: 35%;
}
#contactUs .row img {
	max-width: 100%;
	height: auto;

}

footer {
	width: 100%;
	background-color: #CCCCCC;
}
footer p {
	margin-left: 9%;
	padding-top: 1%;
	padding-bottom: 1%;
	
}
@media(min-width: 768px) and (max-width: 1199px), (max-width: 768px) {
 	
 	.hero .navbar {
 		height: 18%;
		background-color: #1d1d1b;
 	}
	.hero .navbar ul {
		margin-right: 0;
		float: right;
	}
	.hero .navbar ul li a {
		text-align: right;
	}
 	.hero .slogan h2 {
		font-weight: 600;
		
	} 
	.logo {
		margin-left: 5%;
		width: 100px;
		height: auto;
	}
	
	#aboutUs h2 {
		font-size: 18px;
		font-weight: bold;
	}
	#icons .iconWidth {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

	}
	#contactUs .row .address p {
		
		margin: 5% auto 5%;
		text-align: center;
	}
	#contactUs .row .hideOnMobile {
		display: none !important;
	}
	#contactUs .row .hideOnMobile img {
		display: none !important;
	}
	footer p {
		margin: auto;
		padding-top: 2%;
		padding-bottom: 2%;
		text-align: center;
	}	
	
}
@media(min-width: 768px) and (max-width: 1199px) {
	#aboutUs {
		max-width: 60%;

	}
	#icons .iconWidth {
		width: 60%;
	}
	.hero .slogan h2 {
		font-size: 10vh;
		line-height: 10vh;
		
	}
 }
@media(max-width: 768px) {
	.hero .slogan h2 {
		font-size: 9vh;
		line-height: 9vh;
		
	}
	#aboutUs {
		max-width: 70%;
	}
	
	#icons .iconWidth {
		width: 98%;
	}
	#contactUs .row {
		width: 80%;
		margin-top: 5%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 5%;
	}
	#contactUs .row .address {
		width: 100%;
	}
	
}
